<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791604097619-tbhd09556g2cpde8t755urooo9b2q1ah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791604097619-tbhd09556g2cpde8t755urooo9b2q1ah</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>791604097619-0s143niciokvi06kkho5jjmiq0cmavom.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAixhXL86JEAQtozrAySHDUCPQWvFijQLM</string>
	<key>GCM_SENDER_ID</key>
	<string>791604097619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.slideshow.wildpulse</string>
	<key>PROJECT_ID</key>
	<string>newWildPulse</string>
	<key>STORAGE_BUCKET</key>
	<string>newWildPulse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791604097619:ios:910ffa31c4e557e0220ca6</string>
</dict>
</plist>